form {
  width: 100%;
  max-width: 400px;
  margin: 128px auto;
  padding: 16px;
  border: 1px solid black;
  border-radius: 8px;
}

button {
  display: block;
  width: 60%;
  max-width: 80px;
  margin: 24px auto 0;
}
