<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <app-input
    id="username"
    label="Username: "
    [control]="loginForm.controls.username"
    type="text"
  />
  <app-input
    id="password"
    label="Password: "
    [control]="loginForm.controls.password"
    type="password"
  />
  <button type="submit" [disabled]="loginForm.invalid">Login</button>
  @if (loginForm.errors?.["serverErrors"]) {
    @for (error of loginForm.errors?.["serverErrors"]; track error.code) {
      <div>{{ error.message }}</div>
    }
  }
</form>
