<div class="background">
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
</div>
<div id="row">
    <ng-container *ngFor="let events of getEventsByDay(); let i = index">
        <app-day-column [events]="events"></app-day-column>
    </ng-container>
</div>