<app-week-row [events]="fullDayEvents"></app-week-row>
<div id="main-canvas">
    <div class="background">
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
    </div>
    <ng-container *ngFor="let index of [0,1,2,3,4,5,6]">
        <app-day-column [dayContainer]="this.shortEventsByDay[index]">
        </app-day-column>
    </ng-container>
</div>
