<app-row-container [timespan]="rowTimespan"></app-row-container>
<div id="main-canvas">
  <div class="background">
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
    <div class="hairline"></div>
  </div>
  @for (colTSpan of this.columnTimespans; track colTSpan) {
    <app-column-container [timespan]="colTSpan"></app-column-container>
  }
</div>
