:host {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    left: 100%;
    z-index: 100;
    padding: 16px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.4);
}