<app-week-container></app-week-container>
<div id="main-canvas">
    <div class="background">
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
        <div class="hairline"></div>
    </div>
    @for (dayBounds of this.dayBoundsList; track dayBounds) {
        <app-day-container [dayBounds]="dayBounds"></app-day-container>
    }
</div>
