:host {
  position: relative;

  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  justify-content: flex-start;

  height: 100%;
  border-right: #d7d7d7 1px solid;
}

app-drawn-event {
  position: absolute;
  left: 0;
  box-sizing: border-box;
  width: 100%;
}
