<ng-container *ngFor="let event of (this.dayContainer.events | positionEventsRelative: this.dayContainer.dayBounds); let eventIndex = index">
    <app-relational-event [event]="event" tabindex="0"
        (mousedown)="this.handleEventEvent($event)"></app-relational-event>
</ng-container>
<app-new-event *ngIf="this.newEventEvent" [event]="this.newEventEvent" [style.top.px]="newEventTop"
    [style.height.px]="newEventHeight"></app-new-event>
<app-new-event-form *ngIf="(this.dayContainer.events | getNewEvent)" [event]="(this.dayContainer.events | getNewEvent)!"></app-new-event-form>
