/* :host {
    position: relative;
} */

.background {
    display: flex;
    flex-flow: column nowrap;
    gap: 48px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.background .hairline {
    height: 0;
    width: 100%;
    margin-top: -1px;
    border-bottom: #D7d7d7 1px solid;
}

#main-canvas {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    align-items: stretch;
    height: calc(24 * 48px);
}