:host {
  background-color: blueviolet;
  border-radius: 4px;
  border: 2px white solid;
  border-left: 2px aqua solid;
  padding: 4px;
  overflow: hidden;
  color: white;
  font-family: sans-serif;

  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

p {
  margin: 0;
}
