:host {
  user-select: none;

  position: absolute;

  overflow: hidden;

  box-sizing: border-box;
  padding: 4px;
  border: 2px rgb(0 0 0 / 0%) solid;
  border-left: 2px aqua solid;
  border-radius: 4px;

  font-family: sans-serif;
  color: white;

  background-color: blueviolet;
  background-clip: padding-box;

  -webkit-touch-callout: none;
}

p {
  user-select: none;

  margin: 0 0 4px;

  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
}
